@import "/src/mixins";

.promo {
  position: relative;
  z-index: 10;
  margin-top: -11vw;
  padding: 10vw 0;
  background: url("./Assets/promo-bg.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.83vw;

  h2.title {
    color: #1D1B1B;
    text-align: center;
    font-family: Druk Text Wide Trial, serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 800;
    line-height: 5vw;
    text-transform: uppercase;
    margin: 0;
  }

  a {
    color: #1D1B1B;
    text-align: center;
    font-family: Druk Text Wide Trial, serif;
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 500;
    line-height: 2.92vw;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;

    &:before {
      position: absolute;
      bottom: -90%;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      width: 90%;
      height: 2vw;
      background: url("./Assets/line.png");
      background-size: contain;
    }
  }

  @include _768 {
    margin-top: -28vw;
    padding: 20vw 0;

    h2.title {
      font-size: 7vw;
      line-height: 10vw;
    }

    a {
      font-size: 5.5vw;

      &:before {
        bottom: -200%;
        height: 4.2vw;
      }
    }
  }
}