[Unit]
Description=Mail API
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/sendgrid_api
ExecStart=/var/www/sendgrid_api/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
