.loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.40);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.loading-popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background: rgba(15, 15, 15, 0.80);
    backdrop-filter: blur(12px);
    flex-direction: column;

    .title {
        margin: 24px 0 12px;
        color: #fff;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    span {
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border-left-color: #4CEABE;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}