.popup {
  position: fixed;
  top: 20px;
  right: 0px;
  padding: 20px;
  z-index: 9999;
  border-radius: 24px 0 0 24px;
  background: rgba(15, 15, 15, 0.80);
  box-shadow: 0px 16px 16px 0px rgba(15, 15, 15, 0.24);
  backdrop-filter: blur(12px);
  transform: translateX(100%);
  transition: all .3s ease;

  &.active {
    transform: translateX(0%);
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}