@import "/src/mixins";

.running-line {
  padding: 1.67vw 0 2vw;
  background: #4CEABE;
  display: flex;
  gap: 3.33vw;
  width: max-content;

  &__item {
    color: #1D1B1B;
    font-family: Druk Text Wide Trial, serif;
    font-size: 3.75vw;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 3.33vw;
    white-space: nowrap;

    &:after {
      content: '';
      margin-top: .5vw;
      width: 4.64vw;
      height: 2.50vw;
      background: url("./Assets/arrows.png");
      background-size: contain;
    }
  }

  @include _768 {
    padding: 4vw 0 3.5vw;

    &__item {
      font-size: 5.5vw;

      &:after {
        width: 9vw;
        height: 5vw;
      }
    }
  }
}