@import "/src/mixins.scss";

.sales-form {
  padding-right: 5.47vw;
  position: relative;

  .heroes {
    display: flex;
    justify-content: space-between;

    img {
      width: 4.17vw;
      height: 4.17vw;
    }
  }

  form {
    position: relative;
    width: 31vw;
    padding: 2.08vw;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), var(--palette-dark, #0F0F0F);

    h3.title {
      margin: 0 0 1.67vw;
      color: white;
      font-family: Druk Text Wide Trial, serif;
      font-size: 2.08vw;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1.6px;

      &.tac {
        text-align: center;
        margin-bottom: 0;
      }
    }

    .field {
      display: block;
      border-radius: 32px;
      border: 1px solid rgba(255, 255, 255, 0.60);
      backdrop-filter: blur(4px);
      padding: 1.04vw;
      overflow: hidden;
      margin-bottom: 8px;

      &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;

        span {
          color: white;
          font-size: 0.52vw;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          opacity: 0.5;
        }
      }

      .token {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.42vw;

        &__icon {
          width: 1.67vw;
          height: 1.67vw;
        }

        &__name {
          color: white;
          font-size: 0.73vw;
          font-style: normal;
          font-weight: 600;
          line-height: 1.04vw;
        }

        .rate {
          color: white;
          font-size: 0.73vw;
          font-style: normal;
          font-weight: 400;
          line-height: 1.04vw;
          opacity: 0.5;
        }
      }

      input {
        border: 0;
        padding: 0;
        background: transparent;
        width: 100%;
        color: white;
        font-size: 1.67vw;
        font-weight: 600;
        outline: none !important;
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    .status-popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.2);
      border-radius: 24px;
      background: rgba(15, 15, 15, 0.80);
      box-shadow: 0 16px 16px 0 rgba(15, 15, 15, 0.24);
      backdrop-filter: blur(2px);
      padding: 2vw 1.5vw;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: all .25s ease;

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
      }

      .title {
        margin-top: 24px;
        color: white;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }

      .text {
        width: 100%;
        white-space: nowrap;
      }
    }
  }

  .progress {
    margin-top: 1.67vw;
    padding: 0.83vw;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.07);

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-style: normal;
      line-height: 140%;
      margin-bottom: 0.42vw;
    }

    &__info {
      display: flex;
      gap: 0.21vw;
    }

    &__current,
    &__percent {
      font-size: 0.94vw;
      font-weight: 600;
    }

    &__max {
      font-size: 0.83vw;
      font-weight: 400;
      opacity: .5;
    }

    &__bar {
      width: 100%;
      height: 0.83vw;
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.25);
      position: relative;

      &_current {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        border-radius: 100px;
        background: linear-gradient(270deg, #4CEABE 0%, rgba(76, 234, 190, 0.30) 100%), #010101;
        box-shadow: 4px 0 11px 1px rgba(76, 234, 190, 0.1);
        transition: all .4s ease;
      }
    }
  }

  .desc,
  .text {
    margin-top: 0.42vw;
    color: white;
    text-align: center;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .btn {
    cursor: pointer;
    margin-top: 1.67vw;
    width: 100%;
    border: 0;
    background: #4CEABE;
    border-radius: 100px;
    padding: 0.83vw;
    color: #010101;
    text-align: center;
    font-size: 0.94vw;
    font-weight: 600;
    line-height: 140%;
  }

  .text {
    opacity: .6;
  }

  .tokens-tabs {
    padding: 0.83vw 0;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 24px 24px 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), #0F0F0F;

    h4.title {
      text-align: center;
      color: white;
      font-family: Druk Text Wide Trial, serif;
      font-size: 0.73vw;
      font-style: normal;
      font-weight: 800;
      line-height: 1.04vw;
      margin: 0 0 1.04vw 0;
    }

    .token-tab {
      cursor: pointer;
      padding: 0 0.83vw;
      opacity: .5;
      transition: all .45s ease;

      img {
        width: 3.75vw;
        height: 3.75vw;
      }

      &.active {
        opacity: 1;
        background: radial-gradient(69.05% 85% at 0% 50%, rgba(68, 244, 195, 0.50) 0%, rgba(68, 244, 195, 0.00) 59.75%);
      }
    }
  }

  .connect-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 15, 15, 0.40);

    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrap {
      border-radius: 16px;
      background: rgba(15, 15, 15, 0.80);
      backdrop-filter: blur(12px);
      width: 35vw;
      min-width: 300px;
      padding: 2.08vw;
      flex-direction: column;
    }

    h3.title {
      margin: 0 0 8px;
      color: white;
      font-family: Druk Text Wide Trial, serif;
      font-size: 2.08vw;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1.6px;
    }

    h5.text {
      width: 65%;
      text-align: center;
    }

    .connectors {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      width: 100%;

      .connector {
        width: 48%;
        margin: 0;
        border-radius: 12px;
        background: #333;
        border: 1px solid #333;
        color: white;
        transition: all .3s ease;

        &:hover {
          border-radius: 12px;
          border: 1px solid #4CEABE;
          background: #4CEABE;
          color: #333;
        }


      }

      @include _768 {
        gap: 10px;

        .connector {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48%;
        }
      }

      .connector {
        width: 100%;
      }
    }


    @include _768 {
      h3.title {
        font-size: 18px;
      }

      h5.text {
        font-size: 14px;
      }

      .wrap {
        min-width: 320px;
      }
    }
  }

  .claim {
    background: url('./Assets/claim-form.png');
    background-size: 100% 100%;
    height: 20.8333vw;
    padding: 4.6875vw .625vw;
    width: 115%;
    transform: translateX(-6.7%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      color: #FFF;
      text-align: center;
      font-family: Druk Text Wide Trial, serif;
      font-size: 2.1875vw;
      font-weight: 700;
      line-height: 2.8125vw;
      text-transform: uppercase;
    }

    .text {
      color: #BDC7C6;
      text-align: center;
      font-family: Druk Text Wide Trial, serif;
      font-size: 1.25vw;
      font-weight: 500;
      line-height: 1.4583vw;
      text-transform: uppercase;
    }

    .token {
      color: #FFF;
      text-align: center;
      font-family: Druk Text Wide Trial;
      font-size: 1.4583vw;
      font-weight: 500;
      line-height: 1.6667vw;
      text-transform: uppercase;
    }

    @include _768 {
      height: 350px;
      padding: 100px 20px;

      .title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 12px;
      }

      .text {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      .token {
        font-size: 16px;
        line-height: 20px;
      }
    }


  }

  @include _768 {
    width: 100%;

    .heroes {
      margin-bottom: 20px;

      img {
        width: 10vw;
        height: 10vw;
      }
    }

    form {
      position: relative;
      overflow: hidden;
      z-index: 2;
      width: 76.5vw;
      padding: 32px 16px;

      h3.title {
        font-size: 24px;
        margin-bottom: 24px;
      }

      .field {
        padding: 16px;

        &__head {
          span {
            font-size: 10px;
          }
        }

        input {
          font-size: 24px;
        }

        .token {
          gap: 8px;


          &__icon {
            width: 32px;
            height: 32px;
          }

          &__name,
          .rate {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }

    .progress {
      margin-top: 24px;
      padding: 16px;

      &__head {
        flex-direction: column;
        align-items: flex-start;
      }

      &__max {
        font-size: 14px;
      }

      &__percent {
        margin-top: 16px;
        font-size: 12px;
        width: 100%;
        text-align: right;
      }

      &__current,
      &__percent {
        font-size: 16px;
      }

      &__bar {
        margin-top: 5px;
        height: 12px;
      }
    }

    .desc {
      margin-top: 8px;
      font-size: 12px;
    }

    .btn {
      margin-top: 24px;
      padding: 12px;
      font-size: 16px;
    }

    .text {
      margin-top: 8px;
      font-size: 12px;
    }

    .tokens-tabs {
      top: 50%;
      padding: 16px 0;
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      h4.title {
        font-size: 10px;
        margin-bottom: 16px;
      }

      .token-tab {
        width: 100%;
        padding: 0 8px;

        img {
          display: block;
          margin: 0 auto;
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}