.loading-popup {    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.40);
    z-index: 100;
}

.loading-popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background: rgba(15, 15, 15, 0.80);
    backdrop-filter: blur(12px);
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border-left-color: #4CEABE;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}